@import 'variables';

header {
   margin: 0 0 28px;
   border-bottom: none;

   background-color: $primary-white;

   h1 {
      margin-bottom: 8px;
      font-size: 44px;
      text-align: center;
   }

   hr {
      height: 1px;
      border: none;
      background-color: #ced4da;
   }
}